h1,h2{
    text-align: center;
}
.notes{
    margin-top: 3rem;
}

.note-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-white-space: nowrap;
    overflow: auto;
}

.note-div a{
    width: 7%;
    height: 90%;
    background-color: black;
    color:white;
    font-size: 30px;
}